body{
  margin: 0px;
}

header {
  width: 100%;
  height: 100px;
  background-color: #404041;
}

h1 {
  margin: 0px;
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
}

.bold-pink-text {
  color: #ED458B;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.thin-gray-text {
  color: #E6E7E8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.thin-black-text {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  margin: 0px auto 0px;
}

#number-input {
  text-align: center;
  font-size: 40px;
  display: block;
  margin: 0px auto 0px;
  width: 450px;
  color: #AAAAAA;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

main p {
  padding: 10px 0px 0px;
}

.range {
  text-align: center;
  font-size: 20px;
  display: inline-block;
  margin: 10px auto 0px;
  width: 220px;
  height: 30px;
  color: #AAAAAA;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

main div {
  text-align: center;
}

main button {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: 0px;
  margin: 10px 15px 10px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 25px;
  background-color: #929497;
}

main button:disabled {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: 0px;
  margin: 10px 15px 10px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 25px;
  background-color: #D0D2D3;
}

main button:hover {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: 0px;
  margin: 10px 15px 10px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 25px;
  background-color: #EB008B;
}

h2 {
    padding: 10px 0px 0px;
}

h3 {
  color: #EB008B;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 180px;
  text-align: center;
  margin: 0px auto 0px;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
  }

  #number-input {
    text-align: center;
    font-size: 40px;
    display: block;
    margin: 10px auto 0px;
    width: 90%;
    color: #AAAAAA;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
  }

  .range {
    display: block;
    width: 90%;
  }

  main button {
    display: block;
    width: 90%;
  }

  main button:hover {
    display: block;
    width: 90%;
  }

  main button:disabled {
    display: block;
    width: 90%;
  }

  h3 {
    font-size: 100px;
  }
}
